body{
  font-family: 'Noto Sans JP', sans-serif;
  height: 0.9vh;
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;
  font-size: 16px;
}

.container{
  margin-left: 16px;
  margin-right: 16px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

.my-button{
  width: 120px;
  padding: 8px;
  position: relative;
  border-radius: 10px;
}

.my-button::after{
  content:'→';
  position:absolute;
  right:8px;
}

.my-button:hover{
  background-color: #2e3440;
}

.content2{
  text-align:center;
}

.my-icon{
  background-color: #d8dee9;
  padding:6px;
  border-radius:28px;
}

.tiny-move{
  transform:translateY(16px);
}
.content3{
  padding:16px;
}

.content3 h2{
  text-align:center;
}
.content3-sub{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.content3-sub img,.content3-sub div{
  width: 100%;
}

.footer{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.footer-left{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.only-pc{
  display: none;
}
.bg-base{
  background-color: #FFF;
}

.bg-light{
  background-color: #ECEFF4;
}

.bg-dark{
  background-color: #2d3440;
}

.bg-button{
  background-color: #4c566a;
}

/* .bg-button-hover{
  background-color: #2e3440;
} */
/* 
.bg-icon{
  background-color: #d8dee9;
} */

.font-light{
  color: #eceff4;
}

.font-base{
  color: #4c566a;
}

@media(min-width: 768px){
  body{
    font-size:18px;
  }

  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }
  
  h3{
    font-size: 22px;
  }
  
  .content1{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .content2-main{
    display: flex;
    flex-direction: row;
  }

  .content2-main div{
    margin-left:16px;
  }

  .content3-sub{
    flex-direction:row;
  }

  .content3-sub img,.content3-sub div{
    width: 30%;
  }

  .content3-sub.reverse{
    flex-direction:row-reverse;
  }

  .footer{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left{
    flex-direction: row;
  }

  .only-pc{
    display: inline;
  }
}